@import "../common.less";
@menu-height: 3rem;
@logo-size: 48px;
@menu-background: #234;
@footer-background: #446;
@footer-height: 3rem;
@groups-background: #567;
@group-hover-background: darken(@groups-background,5%);
@menu-collection-color: white;
@menu-collection-font-size: 1rem;
@menu-collection-height: 3rem;
@menu-collection-icon-width: @menu-collection-height;
@menu-collection-number-width: 3em;
@menu-collection-hover-background: darken(@groups-background,10%);
@collections-background: white;
@collection-color: black;
@collection-font-size: 1rem;
@collection-height: 2rem;
@collection-icon-width: @collection-height;
@collection-number-width: 0;
@collection-hover-background: darken(@collections-background,10%);
@screenshot-width: 130px;
@screenshot-height: 130px;

.fill() {
	width: 100%;
	height: 100%;
}
.clear {
	clear: both;
}
body {
	width: 380px;
	height: 600px;
}
.view {
	.fill;
	overflow: hidden;
}
.col {
	.fill;
	transition: left .5s ease;
	position: absolute;
	top: 0;
	.wrap {
		.fill;
		position: relative;
	}
	.menu {
		position: absolute;
		width: 100%;
		height: @menu-height;
		top: 0;
		z-index: 1;
		font-size: 1.5rem;
		background: @menu-background;
		padding: 0 .5rem;
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		.item {
			margin-left: 1rem;
			cursor: pointer;
			float: left;
			height: @menu-height;
			line-height: @menu-height;
			color: darken(white,20%);
			&:hover {
				color: white;
			}
		}
		.logo {
			background: url('/img/icon48.png') no-repeat;
			height: @logo-size;
			padding-left: @logo-size;
			margin-left: 0;
			color: yellow;
			text-decoration: none;
		}
	}
}
.homeCol {
	left: 0;
	&:not(.index) {
		left: -100%;
	}
	.content {
		color: white;
		background: @groups-background;
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: @menu-height 0 @footer-height;
		.group {
			cursor: pointer;
			color: darken(white,20%);
			.label {
				padding: .2em 1em;
				.title {
					margin-right: .5em;
				}
				&:hover {
					background: @group-hover-background;
				}
			}
		}
		.collection {
			color: @menu-collection-color;
			font-size: @menu-collection-font-size;
			height: @menu-collection-height;
			&>* {
				height: @menu-collection-height;
				line-height: @menu-collection-height;
			}
			.icon {
				width: @menu-collection-icon-width;
			}
			.title {
				padding: 0 @menu-collection-number-width 0 @menu-collection-icon-width;
			}
			.number {
				width: @menu-collection-number-width;
			}
			&:hover {
				background: @menu-collection-hover-background;
			}
		}
	}
	.footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		color: white;
		background: @footer-background;
		padding: 1rem;
		height: @footer-height;
	}
}
.contentCol {
	background: @groups-background;
	color: white;
	left: 0;
	.homeCol.index~& {
		left: 100%;
	}
	.content {
		padding-top: @menu-height;
		text-align: center;
	}
	.screenshot {
		border: 2px ridge silver;
		margin: 1em auto;
		width: @screenshot-width;
		height: @screenshot-height;
	}
	.field {
		margin-bottom: 1em;
	}
	form {
		text-align: left;
		display: inline-block;
		label {
			font-size: .8rem;
			display: block;
		}
		.field {
			width: 260px;
			&>input[type=text] {
				line-height: 1.5rem;
				width: 100%;
				border: none;
			}
			&>textarea {
				height: 5em;
				width: 100%;
				border: none;
				resize: none;
			}
		}
		.buttons {
			text-align: center;
			&>* {
				text-align: center;
				display: inline-block;
				width: 100px;
				border-radius: .3rem;
				font-size: 1rem;
				line-height: 2rem;
				cursor: pointer;
				border: none;
			}
		}
		.submit {
			@bgcolor: green;
			background: darken(@bgcolor,10%);
			&:hover {
				background: @bgcolor;
			}
		}
		.cancel {
			@bgcolor: brown;
			background: darken(@bgcolor,10%);
			&:hover {
				background: @bgcolor;
			}
		}
	}
}
.tags {
	@bgcolor: darken(@groups-background,20%);
	background: @bgcolor;
	border-radius: .3rem;
	cursor: text;
	padding: .3rem;
	ul {
		li {
			list-style: none;
			float: left;
			position: relative;
			padding: .2rem 1rem .2rem .2rem;
			border-radius: .2rem;
			line-height: 1rem;
			margin: 0 .5rem .5rem 0;
			&:not(.input) {
				background: lighten(@bgcolor,10%);
			}
			.fa-tag {
				color: yellow;
			}
			.remove {
				cursor: pointer;
				position: absolute;
				top: 0;
				right: .2rem;
				font-size: .4rem;
				color: gray;
				&:hover {
					color: yellow;
				}
			}
		}
		overflow-y: visible;
	}
	.input {
		padding-left: 0;
		padding-right: 0;
		form {
			position: relative;
		}
		input[type=text] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			color: white;
			font-size: .8rem;
			background: transparent;
			border: none;
			outline: none;
		}
		span {
			opacity: 0;
			white-space: nowrap;
		}
	}
	&:not(.focused) .input {
		width: 0;
		overflow: hidden;
	}
}
.collection {
	color: @collection-color;
	font-size: @collection-font-size;
	list-style: none;
	cursor: pointer;
	position: relative;
	height: @collection-height;
	&>* {
		height: @collection-height;
		line-height: @collection-height;
		display: block;
	}
	.icon {
		width: @collection-icon-width;
		position: absolute;
		left: 0;
		top: 0;
	}
	.title {
		width: 100%;
		padding: 0 @collection-number-width 0 @collection-icon-width;
	}
	.number {
		width: @collection-number-width;
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
		padding-right: 1em;
	}
	&:hover {
		background: @collection-hover-background;
	}
}
.collections {
	background: @collections-background;
	border-radius: .3rem;
	overflow: hidden;
}
