<!doctype html>
<html ng-app="app" ng-csp>
	<head>
		<meta charset="utf-8" />
		<title ng-bind="::_('titlePage')"></title>
		<link rel="stylesheet" type="text/css" href="../lib/angular-csp.css" />
		<link rel="stylesheet" type="text/css" href="../lib/font-awesome/font-awesome.min.css" />
		<link rel="stylesheet/less" type="text/css" href="options.less" />
		<script src="../lib/less.min.js"></script>
		<script src="../lib/angular.min.js"></script>
		<script src="../lib/angular-animate.min.js"></script>
	</head>
	<body>
		<div class="left side" ng-include="'templates/leftside.html'"></div>
		<div id="center" ng-include="'templates/bookmarks.html'"></div>
		<div class="menu" draggable="true" ng-controller="menuController">
			<div class="menu-button menu-main" ng-click="menuExpand()"><i class="fa fa-ellipsis-h"></i></div>
			<div class="menu-expand" ng-show="menuExpanded">
				<a class="menu-button menu-home" href target=_blank ng-click="loadWebsite()" title="{{::_('buttonGoToWebsite')}}"><i class="fa fa-home"></i></a>
				<a class="menu-button menu-words menu-import-chrome" ng-click="importFromChrome()" ng-disabled="importing">{{importing?_('buttonImportingFromChrome'):_('buttonImportFromChrome')}}</a>
			</div>
		</div>
		<script src="options.js"></script>
		<script src="utils.js"></script>
	</body>
</html>
