<table class="fill-wrap bmlist">
	<tr ng-if="user.id">
		<td class="nav-wrap">
			<div class="nav"><div>
				<div class="cell">
					<searchbox data="engines"></searchbox>
				</div>
				<div class="cell expand">
					<a class="menu add" ui-sref="bookmarks.edit({bid:0})"><i class="fa fa-plus-circle"></i></a>
				</div>
				<div class="cell">
					<a class="menu" ng-class="{warn:multi}" ng-click="multiRemove()"><i class="fa fa-trash"></i></a>
				</div>
				<div class="cell">
					<a class="menu" ng-click="logout()"><i class="fa fa-sign-out"></i></a>
				</div>
			</div></div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="header">
				<div class="tags">
					<li ng-repeat="tag in conditions.tags" class="tag">
						<a ng-click="removeTag($index)" class="remove">
							<i class="fa fa-remove"></i>
						</a>
						<i class="fa fa-tag"></i>
						<span class="title">{{tag}}</span>
					</li>
					<div class="clear"></div>
				</div>
			</div>
		</td>
	</tr>
	<tr class="expand">
		<td class="bookmarks">
			<div class="abs-fill-wrap">
				<bookmark ng-repeat="bookmark in data.bookmarks track by bookmark.id" data="bookmark" detail="true" ng-show="checkCondition(bookmark)"></bookmark>
			</div>
		</td>
	</tr>
</table>
<div ui-view></div>
