<table class="fill-wrap">
	<tr>
		<td>
			<div class="conditions">
				<div class="right">
					<searchbox data="engines"></searchbox>
				</div>
				<div class="left">
					<i class="fa fa-chevron-right"></i>
					{{conditions.col.title}}
					<a ui-sref="bookmarks.edit({bid:0})">新建书签</a>
				</div>
				<div class="tags">
					<li ng-repeat="tag in conditions.tags" class="tag">
						<a ng-click="removeTag($index)" class="remove">
							<i class="fa fa-remove"></i>
						</a>
						<i class="fa fa-tag"></i>
						<span class="title">{{tag}}</span>
					</li>
					<div class="clear"></div>
				</div>
			</div>
		</td>
	</tr>
	<tr class="expand">
		<td>
			<div class="bookmarks row-wrap">
				<bookmark ng-repeat="bookmark in data.bookmarks" data="bookmark" ng-show="checkCondition(bookmark)"></bookmark>
			</div>
		</td>
	</tr>
</table>
<div ui-view></div>
