<div class="bookmark" title="{{data.url}}" ng-click="open()">
	<div class="cell">
		<img class="icon" ng-src="{{getIcon(data)}}">
	</div>
	<div class="title cell" title="{{data.title}}">
		{{data.title}}
	</div>
	<div class="url cell" ng-if="detail">{{data.url}}</div>
	<div class="hpanel" ng-if="detail" ng-click="stop($event)">
		<div class="rel-mid-wrap">
			<div class="edit" ng-if="conditions.col!=-2" ng-click="edit(data)" title="编辑"><i class="fa fa-edit"></i></div>
			<div class="remove" ng-click="remove({data:data})" title="删除"><i class="fa fa-trash"></i></div>
		</div>
	</div>
</div>
