<div class="bookmark" title="{{data.desc}}" ng-click="open(data)">
	<img class="icon" ng-src="{{getIcon(data)}}">
	<div class="title">{{data.title}}</div>
	<div class="url" title="{{data.url}}">{{shortUrl(data.url)}}</div>
	<div class="desc">{{data.desc}}</div>
	<div class="snapshot"></div>
	<div class="panel" ng-click="stop($event)">
		<a class="edit" title="修改" ng-click="edit(data)"><i class="fa fa-pencil"></i></a>
		<a class="del" title="删除"><i class="fa fa-trash"></i></a>
	</div>
	<div class="tags" ng-click="stop($event)">
		<a ng-repeat="tag in data.tags" ng-click="limitTag(tag)">#{{tag}}</a>
	</div>
</div>
