<collection data="root.colUnd"></collection>
<br class="separator" />
<collection ng-repeat="item in root.cols" data="item" change="true"></collection>
<div class="collection" ng-click="startAddCol($event)" ng-class="{em:newCol.mode=='edit'}">
	<div class="cell">
		<img class="icon" src="/images/collection.png">
	</div>
	<div class="cell expand">
		<div class="abs-mid-wrap left right">
			<editable class="title" data="newCol" button="确定" placeholder="{{newCol.placeholder}}" change="addCol()" blur="cancel" cancel="cancelAddCol()"></editable>
		</div>
	</div>
</div>
<!--<div class="padded tags list">
	<div ng-repeat="(tag,count) in root.d_tags" class="tag" ng-click="limitTag(tag)">
		<i class="fa fa-tag"></i>
		<span class="title">{{tag}}</span>
		<span class="count">{{count}}</span>
	</div>
	<div class="clear"></div>
</div>-->
