<div class="collection" ng-class="{em:editdata.mode=='edit',active:!cond.search&amp;&amp;data===cond.col}">
	<div class="cell">
		<!--<img class="icon" ng-src="{{data.icon||'/images/collection.png'}}">-->
		<i class="fa fa-star"></i>
	</div>
	<div class="cell expand">
		<div class="abs-mid-wrap left right">
			<editable class="title" ng-if="edit" data="editdata" change="check()" blur="change" cancel="close()"></editable>
			<span class="title" ng-if="!edit">{{data.title}}</span>
		</div>
	</div>
	<div class="cell">
		<div class="number">{{data.count}}</div>
		<div class="hpanel" ng-if="edit" ng-show="editdata.mode!='edit'" ng-click="stop($event)">
			<div class="rel-mid-wrap">
				<div class="edit" ng-click="editCol(data)"><i class="fa fa-edit"></i></div>
				<div class="remove" ng-click="removeCol(data)"><i class="fa fa-trash"></i></div>
			</div>
		</div>
	</div>
</div>
