<div class="buttons">
	<form class="newcol field" ng-submit="newCol()">
		<input type=text placeholder="新增频道" ng-model="colData.title" ng-class="{'active':colData.title}">
		<div class="abs-mid-wrap right" ng-show="colData.title">
			<span class="button" ng-click="colData.title=''">
				<i class="fa fa-times-circle"></i>
			</span>
			<span class="button" ng-click="newCol()">
				<i class="fa fa-check-circle"></i>
			</span>
		</div>
	</form>
</div>
<collections list="true" editable="true" edit="edit(data)" remove="remove(data)" col-all="true" cid="conditions.col"></collections>
<div class="padded tags list">
	<div ng-repeat="(tag,count) in data.d_tags" class="tag" ng-click="limitTag(tag)">
		<i class="fa fa-tag"></i>
		<span class="title">{{tag}}</span>
		<span class="count">{{count}}</span>
	</div>
	<div class="clear"></div>
</div>
