<div class="editable">
	<form class="wrap" ng-if="data.mode=='edit'" ng-submit="submit()" ng-click="$event.stopPropagation()">
		<input class="submit" ng-show="button" type="submit" value="{{::button}}">
		<input ng-if="!wrap" class="edit" type=text ng-model="data.text" placeholder="{{::placeholder}}">
		<textarea ng-if="wrap" class="edit" ng-model="data.text" placeholder="{{::placeholder}}"></textarea>
	</form>
	<span ng-if="data.mode!='edit'" class="text">{{data.text||placeholder}}</span>
</div>
