<div class="fill-wrap toc" ng-controller="SideController">
	<div class="user">
		<div class="info">
			<div class="cell avatar" ng-click="showUser()">
				<img ng-src="{{user.avatar||'/images/icon128.png'}}">
			</div>
			<div class="cell name">
				{{user.name||'未登录用户'}}
			</div>
		</div>
		<div class="card" ng-show="usershown">
			<div class="wrap" ng-include="'templates/'+(user.id?'user':'login')+'.html'"></div>
		</div>
	</div>
	<div class="content">
		<collection data="root.colUnd" select="select(data)"></collection>
		<div class="collection" ng-click="startAddCol($event)" ng-class="{em:newCol.mode=='edit'}">
			<div class="cell">
				<img class="icon" src="/images/collection.png">
			</div>
			<div class="cell expand">
				<div class="abs-mid-wrap left right">
					<editable class="title" data="newCol" button="确定" placeholder="{{newCol.placeholder}}" change="addCol()" blur="cancel" cancel="cancelAddCol()"></editable>
				</div>
			</div>
		</div>
		<br class="separator" />
		<collection ng-repeat="item in root.cols" data="item" change="true" select="select(data)"></collection>
	</div>
</div>
