<div class="fill-wrap toc" ng-controller="SideController">
	<div class="content">
		<collection data="root.colUnd"></collection>
		<div class="collection" ng-click="startAddCol($event)" ng-class="{em:newCol.mode=='edit'}">
			<div class="cell">
				<i class="fa fa-plus"></i>
			</div>
			<div class="cell expand">
				<div class="abs-mid-wrap left right">
					<editable class="title" data="newCol" button="{{::_('buttonConfirmNewCollection')}}" placeholder="{{newCol.placeholder}}" change="addCol()" blur="cancel" cancel="cancelAddCol()"></editable>
				</div>
			</div>
		</div>
		<listview getpos="getPos(index)" getindex="getIndex(x,y)" moved="moved(idxFrom,idxTo)">
			<collection nested ng-repeat="item in root.cols track by item.id" data="item"></collection>
		</listview>
	</div>
</div>
