<form class="fill-wrap">
	<div class="right">
		<a href>{{::_('buttonRegister')}}</a>
	</div>
	<h3>{{::_('labelLogIn')}}</h3>
	<div class="field">
		<input type=email placeholder="{{::_('placeholderEmail')}}" ng-model="email">
		<i class="fa fa-user"></i>
	</div>
	<div class="field">
		<input type=password placeholder="{{::_('placeholderPassword')}}" ng-model="pwd">
		<i class="fa fa-lock"></i>
	</div>
	<div class="buttons">
		<a class="right" href>{{::_('buttonForgetPassword')}}</a>
		<button type=submit class="sign" ng-click="login()">{{::_('buttonLogIn')}}</button>
	</div>
</form>
