<div class="bminfo">
	<div class="padded field">
		<input type=text placeholder="名称" ng-model="data.title">
	</div>
	<div class="padded field">
		<input type=text placeholder="网址" ng-model="data.url">
	</div>
	<div class="padded field">
		<textarea placeholder="描述" ng-model="data.desc"></textarea>
	</div>
	<div class="padded field">
		<collections cid="data.col"></collections>
	</div>
	<div class="padded field">
		<tags placeholder="在此输入标签" data="data.tags" edit="true"></tags>
	</div>
	<div class="padded buttons">
		<button class="save" ng-click="save()">保存</button>
		<button class="revert" ng-click="revert()">重置</button>
	</div>
</div>
