<div class="bookmark" title="{{data.url}}" ng-click="open(data)">
	<img class="icon" ng-src="{{getIcon(data)}}">
	<div class="title" title="{{data.desc}}">
		{{data.title}}
	</div>
	<div class="url" ng-if="detail">{{shortUrl(data.url)}}</div>
	<div class="desc" ng-if="detail">{{data.desc}}</div>
	<br>
	<div class="tags" ng-click="stop($event)">
		<a class="tag" ng-repeat="tag in data.tags" ng-click="limitTag(tag)">#{{tag}}</a>
	</div>
	<div class="snapshot" ng-if="detail"></div>
	<div class="panel" ng-if="detail" ng-click="stop($event)">
		<a class="edit" title="修改" ng-click="edit(data)"><i class="fa fa-pencil"></i></a>
		<a class="del" title="删除" ng-click="remove(data)"><i class="fa fa-trash"></i></a>
	</div>
</div>
