<div class="bookmark" title="{{data.url}}" ng-click="open(data)">
	<img class="icon" ng-src="{{getIcon(data)}}">
	<div class="title" title="{{data.desc}}">
		{{data.title}}
	</div>
	<div class="url" ng-if="detail">{{shortUrl(data.url)}}</div>
	<div class="desc" ng-if="detail">{{data.desc}}</div>
	<br>
	<div class="tags" ng-click="stop($event)">
		<a class="tag" ng-repeat="tag in data.tags" ng-click="limitTag(tag)">#{{tag}}</a>
	</div>
	<div class="snapshot" ng-if="detail"></div>
	<div class="hpanel" ng-if="detail" ng-click="stop($event)">
		<div class="rel-mid-wrap">
			<div class="edit" ng-click="edit(data)"><i class="fa fa-edit"></i></div>
			<div class="remove" ng-click="remove(data)"><i class="fa fa-trash"></i></div>
		</div>
	</div>
</div>
