<li class="collection" ng-class="{active:isActive()}">
	<div class="cell">
		<img class="icon" ng-src="{{data.icon||'/img/icon48.png'}}">
	</div>
	<div class="cell expand">
		<div class="mid-wrap">
			<div class="title">{{data.title}}</div>
		</div>
	</div>
	<div class="cell" ng-click="stop($event)">
		<div class="edit" ng-if="edit" ng-click="editCol()"><i class="fa fa-edit"></i></div>
		<div class="edit" ng-if="edit" ng-click="removeCol()"><i class="fa fa-trash"></i></div>
		<div class="number">{{data.count}}</div>
	</div>
</li>
