<div class="collection" ng-class="{active:isActive()}">
	<div class="cell">
		<img class="icon" ng-src="{{data.icon||'/img/collection.png'}}">
	</div>
	<div class="cell expand">
		<div class="abs-mid-wrap">
			<div class="title">{{data.title}}</div>
		</div>
	</div>
	<div class="cell">
		<div class="number">{{data.count}}</div>
	</div>
	<div class="hpanel" ng-if="edit" ng-click="stop($event)">
		<div class="rel-mid-wrap">
			<div class="edit" ng-click="editCol()">编辑</div>
			<div class="remove" ng-click="removeCol()">删除</div>
		</div>
	</div>
</div>
