<div class="tags" ng-class="{'focused':focused}">
	<ul>
		<li ng-repeat="tag in data" class="tag">
			<a ng-click="remove($index)" class="remove">
				<i class="fa fa-remove"></i>
			</a>
			<i class="fa fa-tag"></i>
			<span class="title">{{tag}}</span>
		</li>
		<li class="input tag">
			<form ng-submit="add(true)">
				<span class="spacer">{{tag||getPlaceholder()}}</span>
				<input type="text" ng-model="tag" ng-blur="add()" placeholder="{{getPlaceholder()}}">
			</form>
		</li>
	</ul>
	<div class="clear"></div>
</div>
