.colorButton(@color) {
	background: @color;
	border-color: desaturate(@color,100%);
	&:active {
		background: darken(@color,10%);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Microsoft YaHei";
	font-size: 62.5%;
}
h3 {
	margin: 1rem 0 .5rem;
}
.clear {
	clear: both;
}

@collections-background: #456;
@collection-color: white;
@collection-font-size: 1rem;
@collection-height: 2rem;
@collection-icon-width: @collection-height;
@collection-number-width: 1rem;
@collection-hover-background: darken(@collections-background,10%);
@screenshot-width: 130px;
@screenshot-height: 130px;
@field-icon-width: 1.5rem;
@field-height: 2rem;
@field-radius: .3rem;

.screenshot {
	border: 2px ridge silver;
	margin: 0 auto 1em;
	width: @screenshot-width;
	height: @screenshot-height;
}
.tags {
	ul {
		overflow-y: visible;
	}
	li.tag {
		list-style: none;
		padding-right: 1rem;
		.fa-tag {
			color: yellow;
		}
	}
	.tag {
		float: left;
		position: relative;
		padding: .2rem;
		border-radius: .2rem;
		line-height: 1rem;
		margin: 0 .5rem .5rem 0;
	}
	.remove {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: .2rem;
		font-size: .4rem;
		color: #ccc;
		&:hover {
			color: yellow;
		}
	}
	.input {
		padding-left: 0;
		padding-right: 0;
		form {
			position: relative;
		}
		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			color: white;
			font-size: .8rem;
			background: transparent;
			border: none;
			outline: none;
		}
		span {
			opacity: 0;
			white-space: nowrap;
		}
	}
	&:not(.focused) .input {
		width: 0;
		overflow: hidden;
	}
}
li.collection {
	color: @collection-color;
	font-size: @collection-font-size;
	list-style: none;
	cursor: pointer;
	position: relative;
	height: @collection-height;
	&>* {
		height: @collection-height;
		line-height: @collection-height;
		display: block;
	}
	.icon {
		width: @collection-icon-width;
		position: absolute;
		left: 0;
		top: 0;
	}
	.title {
		width: 100%;
		padding: 0 @collection-number-width 0 @collection-icon-width;
	}
	.number {
		width: @collection-number-width;
		position: absolute;
		top: 0;
		text-align: right;
		right: 0;
	}
	&:hover {
		background: @collection-hover-background;
	}
}
.collection.active {
	font-weight: bold;
	color: yellow;
}
.collections {
	border-radius: .3rem;
	overflow: hidden;
}

.bminfo {
	width: 100%;
	text-align: left;
	label {
		font-size: .8rem;
		display: block;
	}
	.field {
		width: 260px;
		margin-bottom: .5rem;
		&>input {
			line-height: 1.5rem;
			width: 100%;
			border: none;
		}
		&>textarea {
			height: 5em;
			width: 100%;
			border: none;
			resize: none;
		}
		.number {
			display: none;
		}
	}
	.buttons {
		button {
			width: 48%;
			display: inline;
		}
	}
	.collections {
		background: #456;
	}
}
.field .tags {
	border-radius: .3rem;
	padding: .3rem;
	cursor: text;
	@bgcolor: #456;
	background: @bgcolor;
	.tag:not(.input) {
		background: lighten(@bgcolor,10%);
	}
}
.buttons {
	text-align: center;
	button {
		border-radius: .3rem;
		font-size: 1rem;
		cursor: pointer;
		color: white;
		height: @field-height;
		border: 1px solid;
		border-radius: @field-radius;
		outline: none;
		margin-bottom: .5rem;
	}
}
button {
	&.save {
		.colorButton(green);
	}
	&.revert {
		.colorButton(brown);
	}
}
a,a:visited {
	color: cyan;
}
