.bookmark {
	@icon-size: 16px;
	cursor: pointer;
	position: absolute;
	transition: all .5s;
	&:hover {
		.cell.expand {
			text-shadow: 0 0px 1px #bbb;
		}
	}
	.editable {
		width: 98%;
		.edit {
			border: 1px solid dodgerblue;
		}
	}
	.cell {
		height: 35px;
		&.expand {
			width: 60%;
			.textNoWrap;
		}
	}
	img.icon {
		width: @icon-size;
		height: @icon-size;
		margin: 0 5px;
		display: block;
	}
	.title {
		font-size: 12px;
	}
	.url {
		color: gray;
		font-size: 10px;
		.textNoWrap;
	}
	.hpanel {
		display: none;
	}
	&:hover, &.active {
		.hpanel {
			display: block;
		}
	}
}
